doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Подтверждение регистрации
    style(type='text/css')
      include email.css

  body(leftmargin='0', marginwidth='0', topmargin='0', marginheight='0')
    div.content
      block content

    div.footer
      != sender.signature
